h1 {
    color: #FFF;
    font-size: 52px;
    padding: 20px 0;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 32px;
    color: #FFF;
    margin: 0;
    font-weight: 400;
}

p {
    color: #f8a5c2;
}

.result-container {
    width: 100vw;
    height: 250px;
    background: #596275;
    margin: 0 auto;
    padding: 24px;
    text-align: center;
}

.result-version {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 18px;
}

.result-uuid {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

button {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    margin-left: 16px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    background: #c44569;
}

p button {
    background: none;
    display: inline;
    color: #f8a5c2;
    font-size: 23px;
    padding: 0;
    border-bottom: 1px solid #f8a5c2;
    border-radius: unset;
}

.result-refresh {
    color: #f8a5c2;
    font-size: 23px
}

.result-refresh a {
    text-decoration: underline;
    color: unset;
}